:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ed4d2d;
    --border-color: #dddddd;

    --header-height: 120px;
    --navbar-height: 32px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /*để font-size là 62.5% cho trường hợp web sử dụng đơn vị "rem" 
    chẳng hạn như, có 1 thẻ "p" và ta css cho nó là "font-size: 1rem", thì 1rem ở đây = 10px, 1.1rem = 11px,...
    nếu để font-size ở đây là 100%, thì ta phải chia lại cho ra số rem (100% thì 1rem = 16px)
    => đây là 1 trick.*/    
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    /*để "box-sizing: inherit" ở * {} rồi sao con để "box-sizing: border-box" ở html {} ?
    vì thẻ html là lớn nhất, nên khi đặt box-sizing: border-box thì các thẻ còn lại sẽ thừa kế giá trị border-box*/
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    /*để "max-width: 100%" hệ thống điều chỉnh độ rộng phù hợp cho các màn hình <1200px */
    max-width: 100%;
    /*margin như này là cho top với bottom*/
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* Test */
.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.667%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal { 
    /*Thằng này sẽ full màn hình, làm mốc cố định thuộc tính postion cho thằng dưới*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* cái này là màu xám*/
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Button style */
.btn {
    min-width: 142px;
    min-height: 34px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 6px;
}

.btn.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* Class này là phụ thôi. Mục đích là để hiển thị nút nào bị disabled, hay còn gọi là không sử dụng được. */
.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}