.header {
    /*không cần set "width" vì thẻ header này đang có tính chất "block", nên sẽ
    thừa kế các thuộc tính của thẻ chứa nó. Mà mặc định trình duyệt set là "display:block",
    => width = độ dài của trình duyệt luôn.*/
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    /*Cái này nghĩa là, khi hover vào cái cái .header__navbar-item--has-qr thì những cái CSS sau sẽ apply cho .header__qr (vì cái này là lớp con)*/
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    /* Giải thích tương tự cái trên */
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;/*=14px*/
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover, 
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--bold {
    font-weight: 700;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #fb9086;
    height: 14px;
    right: -10px; /*-8px vì margin 2 element là 8px * 2 = 16px, -8px sẽ canh vào giữa
    Ở đây để -10px vì trên thực tế, -8px nhìn lệch */
    top: 50%;
    transform: translateY(-50%);
    /* 1 cách khác đơn giản hơn là, đổi "top" = 0, hoặc cho đến khi vừa mắt là oke.
    Cách nó có ưu điểm là, khi đổi chiều cao của thẻ <li> thì không cần phải sửa lại chỗ này */
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR CODE */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%; /*118% để cho cái hình qr cách 1 khoảng cách đúng bằng từ dòng chữ lên lề trên*/
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%; /*cho bằng thằng ".header__qr"*/
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 9.5px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* HEADER NOTIFICATION */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) right;
    display: block;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
    will-change: opacity, transform;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -29px; 
    /* coi lại video Header Notification CSS - phần 3 để hiểu */
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -16px;
    /* coi lại video Header Notification CSS - phần 3 để hiểu */
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(237, 77, 45, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
    margin-top: 0.4rem; /*khúc này thêm margin-top vô vì trình duyệt của mình không tự cách ra 1 đoạn*/
}

.header__notify-footer {
    
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
}

/* Modal */
.modal { 
    /*Thằng này sẽ full màn hình, làm mốc cố định thuộc tính postion cho thằng dưới*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* cái này là màu xám*/
}

.modal__body {
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

/* Authentication Modal */
.auth-form__form {
    width: 500px;    
}
.auth-form__container {
    /* padding: trên+dưới trái+phải */
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 540;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
}