/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header { /*CSS để header nó dính trên cùng website*/
        position: fixed;
        top: 0; 
        right: 0;
        left: 0;
        z-index: 10;
    }

    .header__cart-list {
        position: fixed; /*để chiều dài tỉ lệ với màn hình chứ không phải thằng chứa nó nữa*/
        top: var(--header-height); /*để cách top đúng chiều cao của header*/
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2); /*644px là chiều dài màn hình tablet*/
        /* Xem Cart Responsive 3:30 để hiểu rõ */
    }

    .header__cart-list::after {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .app__content {
        padding-top: 4px; /*video là 8px*/
    }

    .mobile-category {
        display: block;
    }

}

/* Tablet */
@media (min-width: 739px) and (max-width: 1023px) {
    :root {
        --header-height: 70px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }  

    .header__cart {
        width: 70px;
        text-align: right;
    }


    /* Homework: thay đổi chữ xóa thành icon thùng rác ở mobile và tablet */
    /* Làm Navigation Bar trên Tablet/Mobile. Tham khảo video Responsive Navigation Bar */
    
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__mobile-search-icon { /*cái này tự thêm*/
        margin-top: 2px;
    }

    .header__logo-img { /*cái này tự thêm*/
        width: 110px;
    }


/* Tạo đường viền dưới chân những item active. Có 2 cách. Xài cách ở dưới, vì nhìn nó chuyên nghiệp hơn */
    /* .header__sort-item--active .header__sort-link {
        border-bottom: 2px solid var(--primary-color);
    }   */

    .header__sort-item--active .header__sort-link::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-bottom: 2px solid var(--primary-color);
    }

    .header__search {
        position: fixed;
        left: 0;
        right: 0;
        top: var(--header-height);
        height: var(--header-sort-bar-height);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 10;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.25s;
        display: none;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }

        to {
            opacity: 1;
            top: var(--header-height)
        }
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    }

    .header__search-input { /*cái này tự thêm*/
        padding: 0;
    }

    .header__search-selection { /*cái này tự thêm*/
        display: none;
    }

    .header__search-btn { /*cái này tự thêm*/
        margin: 0;
        width: 34px;
        height: 28px;
    }

    .header__mobile-search {
        display: block;
    }

    .app__content {
        margin: 0 4px;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link { /*phải thay đổi cái này vì nó ảnh hưởng hiển thị trên mobile*/
        height: 28px;
        font-size: 1.6rem;
        min-width: 34px; /*video là 36px*/
    
    }

    .footer__content {
        padding: 0 16px;
    }

    .footer__download-qr {
        display: none;
    }

    .footer__download-apps { /*cái này tự thêm*/
        margin-left: 0;
    }

    .footer__download-app-link {
        display: block;
        padding: 6px 0;
    }
    
}